<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json-mask/0.1.1-alpha/jsonMask.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js" type="text/javascript"></script>
    <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    
    <script>
        
        function Render(viewData) {
            var template = $("#template").html();
            var view = $.parseJSON(viewData);
            var output = $("#output");
            var out = Mustache.render(template, view);
            output.html(out);
        }

    </script>
</head>
    <body>       
        <div id="output">
            
        </div>
        
        <script id="template" type="text/template">
            <br />
            <table border="1">
                <tr><td colspan="2"><b>{{package.metadata.title}}</b> (v{{package.metadata.version}} {{package.metadata.language}})</td></tr>
                <tr><td>
                    <br />Type: {{package.metadata.type}}
                    <br />Tags: {{package.metadata.tags}}
                    <br />Authors: {{package.metadata.authors}}
                    <br />Owners: {{package.metadata.owners}}
                    <br />Id: {{package.metadata.id}}
                    <br /><a href="{{package.metadata.projectUrl}}">Project</a>
                    <br /><a href="{{package.metadata.licenseUrl}}">License</a>
                    <br />Icon: {{package.metadata.icon}}; 
                </td><td>{{package.metadata.description}}</td></tr>
            </table>
        
        </script>
        
    
        
    </body>
</html>